layout {
    pane
 //    pane size=8 borderless=true {
 //        plugin location="file:/home/nico/Projects/zellij-cstatus/builddir/zellij-cstatus.wasm"
 //    }
    pane size=1 borderless=true {
        plugin location="https://github.com/dj95/zjstatus/releases/download/v0.24.0/zjstatus.wasm" {
            format_left   "{mode} {notifications}"
            format_center "{tabs}"
            format_right  "{datetime}"

            border_enabled  "false"

            hide_frame_for_single_pane "false"

            mode_normal  "#[bg=blue] {name} "
            mode_default_to_mode "normal"

            tab_normal   "#[fg=#6C7086] {name} "
            tab_active   "#[fg=#9399B2,bold,italic] {name} "

            datetime        "#[fg=#6C7086,bold] {format} "
            datetime_format "%I:%M %p"
            datetime_timezone "Europe/Paris"
        }
    }
}
